:root {
    --color-principal: #333333;
    --color-principal-oscuro: #003653;
    --color-texto: rgb(34, 34, 34);
    --color-bg-opacity: rgba(43, 43, 43, 0.575);
    --color-texto-opacity: rgba(3, 3, 3, 0.781);
    --color-blanco: rgb(255, 255, 255);
    --color-blanco-opacity: rgba(255, 255, 255, 0.404);
    --color-shilling: #ce142b;
    --color-bg-claro: rgb(250, 250, 250);
    --color-gris-claro: rgb(200, 200, 200);
    --color-placeholder: rgb(148, 148, 148);
    --color-shilling-oscuro: rgb(176, 22, 48);
    --color-hover: #f1f1f1;
    --color-info: #165FF2;
    --color-hover-icon: rgba(255, 255, 255, 0.75);
    --box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
    --box-shadow-dow: 0 4px 6px -2px rgba(0, 0, 0, .16), 0 2px 6px -2px rgba(0, 0, 0, .16);
    --font: 'Poppins', Helvetica, Arial, Sans-Serif;    
    --border-radius: 5px;
    --border:1px solid #eaeaea;    
    --border-oscuro:1px solid rgb(148, 148, 148);
    --color-border: #eaeaea;
    --color-verde: #00ad00;
    --color-verde-oscuro: #006400;
    --color-verde-pastel:#09BD9B;
    --color-verde-pastel-oscuro:#008d73;
    --color-war:  #e4b403;
    --color-gris-oscuro: #333D46;
    --color-bg-menu:#65696d;
  }

/* Links para cargar fuentes e iconos */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}
body {
  font-family: var(--font);
  color: var(--color-texto);
  font-size: 1em;
  letter-spacing: .5px;
}

a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;  
}
li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}
span{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
  line-height: 1.1;
}
input,
select,
textarea {
  outline: none !important;
  appearance: unset !important;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;  
  margin: 0;
}

input[type=text]:focus,
input[type=number]:focus {   
  /* border: 1px solid var(--color-texto);  */
  border: none; 
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;  
}
/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--color-placeholder);
  transition: background-color .3s ease-in-out 0s;
}
input::placeholder {
  color: var( --color-placeholder);
  font-weight: 400;
  font-size: .9em;
}

[type="checkbox"]{
  display:none;
  cursor: pointer;
}
.checkbox{
  color: var(--color-placeholder);
  font-weight: 400;  
}
.checkbox:before{
  content: "";
  background: transparent;
  border: 2px solid var(--color-placeholder);
  border-radius: 3px;
  display: inline-block;
  height: 16px;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  transition: all .3s ease;
  margin-right: 8px;
  font-size: 11px;
}
input[type="checkbox"]:checked + .checkbox:before{
  border-color: var(--color-texto);
  color: var(--color-texto);
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f00c";  
  font-size: 11px;
  cursor: pointer;
}
[type="checkbox"]:checked + .checkbox{
    border-color: var(--color-texto);
    color: var(--color-texto);  
    font-weight: 600;  
  }

input[type="radio"] {
  /* remove standard background appearance */ 
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 4px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid var(--color-placeholder);
  background-color: var(--color-blanco);
  border-radius: 50%;
  cursor: pointer;
}
input[type="radio"] ~ label {
  color: var(--color-placeholder);
  cursor: pointer;
  }
/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: var(--color-texto);
  border: 2px solid var(--color-texto);
}
input[type="radio"]:checked ~ label{
  color: var(--color-texto);
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=date] {   
  border: 1px solid var(--color-gris-claro);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  color: rgb(34, 34, 34);
  display: block;    
  font-weight: 400;   
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;  
  -moz-appearance: textfield !important;
}



[type="date"] {
  cursor: pointer;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}
[type="date"]:focus {
  border: 1px solid var(--color-texto);
}

.icon-date{
  pointer-events: none;
  background: white;
  right: 5% !important;
  transition: color .3s ease;  
}

label { 
  font-weight: 600;  
  margin: 0;
  line-height: 1;
}
.option-disabled{
  color: var(--color-placeholder);
}

select {
  width: 100%;
  font-family: var(--font);
  background: #fff;
  font-weight: 400;
  border-radius: 5px;
  height: 30px;
  padding: 4px 12px;  
  color: var(--color-texto);
  border: 1px solid var(--color-gris-claro);
  box-shadow: none;
  outline: none;
  cursor: pointer;
  min-width: 250px;
  height: calc(1.5em + .75rem + 2px);  
  line-height: 1;
  font-size: 1em;
}
.form-control:focus{
  border: 1px solid var(--color-texto);
}
option {
  border: none;
  box-shadow: none;
  outline: none;
   /* remove standard background appearance */   
   appearance: none;
}

option:hover {
  background-color: rgb(134, 134, 134) !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;

}

textarea{
  border: var(--border);
  padding: 0 5px;
}
textarea:focus{
  border: 1px solid var(--color-texto); 
}

.btn-reset{
  border: none;
  background: none;
  outline: none !important;
}

.grup-input-positon{
  position: relative;
}
.down {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  right: 5px;
  pointer-events: none;
}
.icon-position{
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 10px;  
  transform: translateY(-50%);
  z-index: 23;
  color: var(--color-placeholder);
  }
  .icon-position-derecho{
    z-index: 20;
    position: absolute;
    top: 50%;
    right: 10px;    
    transform: translateY(-50%);
    z-index: 23;
    color: var(--color-placeholder);
    }
  .loader-position{
    z-index: 20;
    position: absolute;
    top: 7px;
    right: 5px;    
    transform: translateY(-50%);
    z-index: 30;
    }
    .input-margin{
      padding-left:30px !important;
      padding-right: 30px !important;
    }
    .input-margin-derecho{
      padding-left:30px !important;
      padding-right: 10px !important;
    }
    .input-margin-izquierdo{
      padding-left: 10px !important;
      padding-right: 30px !important;
    }

.button-global {  
  font-size: 1.1rem;
  font-weight: 400;
  color: #222222;
  padding: 7px 20px;
  border: none;
  border-radius: 40px;
  background-color: var(--color-Blanco);
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none !important;
  box-shadow: var(--box-shadow-dow);
  font-family: var(--font);
}

.button-global-2 {  
  font-size: 1em;
  font-weight: 400;
  color: var(--color-principal);
  padding: 5px 20px;
  border: 1px solid var(--color-principal);
  border-radius: 5px;
  background-color: var(--color-blanco);
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none !important; 
  font-family: var(--font);
}

.btn-hover-negro:hover {
  background-color: var(--color-principal);
  color: var(--color-Blanco);
}

.btn-hover-rojo:hover {
  background-color: var(--color-shilling);
  color: var(--color-Blanco);
}
.title{
  color: var(--color-texto);
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 1em;
}
.title-2{
  font-weight: 600; 
}

.opcional{  
  font-weight: 400;
  font-size: 1em;
  font-style: oblique;
}
.color-shilling{
color:  var(--color-shilling);
}


.cursor{
  cursor: pointer;
}

.pagar{
  color: var(--color-shilling);
  font-weight: 600;
}

.fa-info-circle{
  color: var(--color-info);
}
.ocultar {
  display: none;
}
.mostrar{
  display: block;
}

.disabled{
  color: var(--color-placeholder);
}
.text-line-bottom{
  position: relative;
  padding-bottom: 5px;
}
.text-line-bottom:before {
  height: 2px;
  width: 30px;
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #222;
}
.text-line{
  position: relative;  
}
.text-line::after {
  height: 2px;
  width: 30px;
  content: "";
  position: absolute;
  top: 45%;
  right: -40px;
  background-color: #222;
}
.text-line:before {
  height: 2px;
  width: 30px;
  content: "";
  position: absolute;
  top: 45%;
  left: -40px;
  background-color: #222;
}
.link{
  color: var(--color-texto);
}
.font-size-2{
  font-size: 1.2em;
}
.font-size-1-5{
  font-size: 1.5em;
}


 /* Estilos para barra de scroll Webkit y blink (Chrome, Safari, Opera... )*/

 .scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
  width:10px;
}

.scroll::-webkit-scrollbar:horizontal {
  height: 0;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-texto);
  border-radius: 5px;
  border: none;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;  
}
/* Estilos para barra de scroll firefox*/
.scroll{
scrollbar-color: var(--color-texto) transparent;
scrollbar-width: thin;
}


 /* Estilos para barra de scroll Webkit y blink (Chrome, Safari, Opera... )*/

 .scroll-hide::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll-hide::-webkit-scrollbar:vertical {
  width:0;
}

.scroll-hide::-webkit-scrollbar:horizontal {
  height: 0;
}

.scroll-hide::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
  border: none;
}

.scroll-hide::-webkit-scrollbar-track {
  border-radius: 10px;  
}
/* Estilos para barra de scroll firefox*/
.scroll-hide{
scrollbar-color: transparent transparent;
scrollbar-width: thin;
}

/***************************************/
#root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 50px 1fr 50px;
    min-height: 100vh;
    font-size: 16px;  
    overflow: hidden;     
}

header {
    width: 100%;  
    margin-bottom: 1em;  
}

.img-header {
    height: 100px;
    align-items: center;
    background-color: var(--color-principal);
}

.logo-header {
    height: 100%;   
    display: block; 
    margin:auto;

}

.nav-header {
  height: 50px;
  background-color:  #333333;
 
}

.nav-header ul {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.nav-header ul li {
  margin: 0 20px;
  color:white;    
}

main {
  margin-top: 1em;
  margin-bottom: 1em; 
}

.titulo {
  margin-bottom: 1em;
}


.content {  
  overflow-y: auto;
  max-height: calc(100vh - 282px);    
  width: 100%;   
  min-height: calc(100% - 228px); 
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-auto-rows: 234px;    
}

.content-1 {
  background-color: #333333;    
  color: white;
  height: 100%;
}

.content-2 {
background-color: white;
color: #333333;    
height: 100%;
}

.anime {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-auto-rows: 100%;
}

.content-image img {
  width: 100%;
  height: 100%;
}

.content-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.synopsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;  
  margin: 10px 20px;
  text-align: justify;
  line-height: 1.3;
}


footer {
    background-color: var(--color-principal);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    
}

.search-link {
  color: black;
}

.likeDiv {
  display: flex;
  align-items: center;
}

.likeBtn {
  height: 28px;
  margin-left: 5px;
  /* padding: 0 30px; */
  font-size: 11px;
  /* background-color: transparent; */
  border-radius: 6px;
}

.about-paper {
  width: 400px;
  background-color : #fff;
  border: 2px solid #000;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
  padding: 16px 32px 24px;
  text-align: center;
}

.div-avatar-contact {
  display: flex;
  justify-content: center;
}

.avatar-photo img {
  align-items: center;
}

.MuiAvatar-root {
  width: 80px !important;
  height: 80px !important;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.avatar-contact {
  width:40px !important;
  height: 40px !important;  
  margin-left: 15px; 
}

.link-modal {
  color: black !important;
}

.text_search {
  width: 400px !important;
}